
body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin: 0;  
    background-color: #003366;
    height: 100vh; 
    background: url("/assets/bg.jpg");
    overflow: auto;
    height: auto; /* Erlaubt, dass der Inhalt sich entsprechend ausdehnt */
    overflow-y: auto;
  }
  

  h1 {
    margin-top: 20px;
    color: white;
    font-size: 2em; 
    margin-bottom: 20px; 
    text-align: center;
    position: relative; 
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    color: white;
  }
  #demo {
    margin-top: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: white;
  }
  
  #demo .new-div {
    border: 2px solid white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  #demo .new-div span {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: white;
  }
  

  #demo .new-div button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: white;
    color: white;
    border-radius: 50px;
    margin-left: auto;
  }
  

  #demo .new-div button i {
    color: black;
  }
  
  .newUrlButton {
    margin-top: 20px;
    background-color: #cc7914;
    color: white;
    border: none;
    width: 200px;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    top: auto; 
    margin-bottom: 20px;
  }